In [2]:
import os
# Set the directory you want to start from
rootDir = '.'
for dirName, subdirList, fileList in os.walk(rootDir):
    print('Found directory: %s' % dirName)
    for fname in fileList:
        print('\t%s' % fname)

Found directory: .
	class_2.ipynb
	class_3_6_oct_2019.ipynb
	Class_4_13Oct,2019.ipynb
Found directory: .\.ipynb_checkpoints
	class_2-checkpoint.ipynb
	class_3_6_oct_2019-checkpoint.ipynb
	Class_4_13Oct,2019-checkpoint.ipynb

In [13]:
#Chapter 5 Padnas

import pandas as pd
import calendar as cal
print(cal.month_name[1])
d=list(range(1,8))
print(d)
sw=pd.Series([20,30,20,25,30,40,0],
            index=['mon','tue','wed','thurs','fri','sat','sun'])
print(sw)

January
[1, 2, 3, 4, 5, 6, 7]
mon      20
tue      30
wed      20
thurs    25
fri      30
sat      40
sun       0
dtype: int64

In [19]:
print(sw[[1]])
print(sw[[3,5]])

print(sw[["mon",'fri']])

tue    30
dtype: int64
thurs    25
sat      40
dtype: int64
mon    20
fri    30
dtype: int64

In [20]:
print(sw>20)
print()

mon      False
tue       True
wed      False
thurs     True
fri       True
sat       True
sun      False
dtype: bool

In [23]:
series=sw*2
series

mon      40
tue      60
wed      40
thurs    50
fri      60
sat      80
sun       0
dtype: int64

In [24]:
'mon' in sw

True

In [27]:
import numpy as np
arr=np.array([3,2,4,5,6])
ind=np.array(['a','b','c','d','e'])

obj2=pd.Series(ind,index=arr)
print(obj2)

3    a
2    b
4    c
5    d
6    e
dtype: object

In [33]:
sdata={"Sindh":4500, "Punjab": 450, "KPK":3000, "Balochistan":2000}
tax_by_state=pd.Series(sdata,
                      index=["Sindh", "Punjab", "KPK", "Balochistan","GB"])
print(tax_by_state)
print(tax_by_state.index)
print(pd.isnull(tax_by_state))

Sindh          4500
Punjab          450
KPK            3000
Balochistan    2000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')
Sindh          False
Punjab         False
KPK            False
Balochistan    False
dtype: bool

In [40]:
sw=pd.Series([20,30,40,25,30,40,0],
            index=['mon','tue','wed','thur','fri','sat','sun'])
print(sw)
sw.index=["m","t","w","t","f","s","s"]
print(sw)

mon     20
tue     30
wed     40
thur    25
fri     30
sat     40
sun      0
dtype: int64
m    20
t    30
w    40
t    25
f    30
s    40
s     0
dtype: int64